In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
serum_fatty_acids = pd.read_csv('/Users/jianchaohuo/Desktop/Capstone Project/data/VISEM/visem-dataset/fatty_acids_serum.csv', sep=';')
serum_fatty_acids

,ID,Serum C14:0 (myristic acid),Serum C16:0 (palmitic acid),Serum C16:1 (palmitoleic acid),Serum C18:0 (stearic acid),Serum C18:1 n-9 (oleic acid),Serum total C18:1,"Serum C18:2 n-6 (linoleic acid, LA)","Serum C18:3 n-6 (gamma-linoleic acid, GLA)",Serum C20:1 n-9,Serum C20:2 n-6,Serum C20:3 n-6,Serum C20:4 n-6,"Serum C20:5 n-3 (eicosapentaenoic acid, EPA)","Serum C22:5 n-3 (docosapentaenoic acid, DPA)","Serum C22:6 n-3 (docosahexaenoic acid, DHA)"
0,1,"0,36","29,72","0,64","13,67","9,00","10,90","19,48","0,30","0,16","0,31","3,37","12,07","2,15","1,35","5,53"
1,2,"0,28","31,22","0,47","11,84","9,02","11,29","20,34","0,22","0,25","0,26","2,06","11,64","2,80","1,04","6,31"
2,3,"0,36","27,95","0,47","16,57","8,65","10,36","23,75","0,26","0,19","0,35","3,10","7,37","1,95","0,98","6,34"
3,4,"0,32","28,10","0,64","16,09","8,56","10,13","21,52","0,17","0,11","0,31","4,41","12,09","1,56","1,32","3,23"
4,5,"0,40","29,94","0,80","14,17","9,47","11,02","22,29","0,38","0,15","0,29","4,33","8,61","1,73","1,58","4,31"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,81,"0,26","29,96","0,40","12,38","10,03","11,81","23,36","0,17","0,18","0,24","2,46","8,48","1,85","1,38","7,08"
81,82,"0,24","26,62","0,26","15,03","8,24","10,62","27,21","0,23","0,31","0,38","2,42","8,19","1,32","1,27","5,92"
82,83,"0,39","29,48","0,68","12,12","12,97","15,13","23,03","0,26","0,22","0,19","2,68","10,25","1,05","1,37","3,14"
83,84,"0,22","26,68","0,30","14,74","7,57","9,82","24,73","0,22","0,19","0,27","1,47","10,11","2,16","1,34","7,74"
84,85,"0,22","27,00","0,33","15,26","9,93","11,89","22,88","0,11","0,34","0,30","3,95","11,05","1,58","0,31","4,79"

In [3]:
#serum_fatty_acids.dtypes

In [4]:
#serum_fatty_acids.isna().sum()

In [5]:
sperm_fatty_acids = pd.read_csv('/Users/jianchaohuo/Desktop/Capstone Project/data/VISEM/visem-dataset/fatty_acids_spermatoza.csv', sep=';')
sperm_fatty_acids

,ID,Sperm C14:0 (myristic acid),Sperm C15:0 (pentadecanoic acid),Sperm C16:0 (palmitic acid),Sperm C16:1 n-7 (palmitoleic acid),Sperm C17:0,Sperm C18:0 (stearic acid),Sperm C18:1 trans n-6 to n-11,Sperm C18:1 n-9 (oleic acid),Sperm C18:1 n-7 to n-11,...,Sperm C20:1 n-9,Sperm C20:2 n-6,Sperm C22:0,Sperm C20:3 n-6,Sperm C20:4 n-6 and C22:1 n-9 combined,"Sperm C20:5 n-3 (eicosapentaenoic acid, EPA)",Sperm C24:0,Sperm C24:1 n-9,"Sperm C22:5 n-3 (docosapentaenoic acid, DPA)","Sperm C22:6,n3 (docosahexaenoic acid, DHA)"
0,1,"1,3","0,2","24,3","0,9","0,3","9,7","0,8","9,8","2,4",...,"0,4","0,5","0,1","4,2","2,5","0,06","1,0","1,2","1,3","25,3"
1,2,"1,5","0,2","26,3","1,3","0,3","8,9","0,9","12,1","2,7",...,"0,3","0,9","2,1","2,6","2,6","0,14","1,4","1,6","1,6","17,3"
2,3,"1,1","0,2","24,8","0,9","0,2","9,0","0,5","12,3","2,3",...,"0,4","0,4","1,9","2,2","3,2","0,17","1,7","2,0","1,1","21,5"
3,4,"1,1","0,2","22,8","1,0","0,3","9,4","0,9","18,2","2,4",...,"0,5","0,5","2,1","2,4","2,9","0,09","1,8","2,2","2,0","14,8"
4,5,"1,1","0,1","22,1","0,9","0,2","9,7","0,4","10,0","2,5",...,"0,4","0,7","0,6","4,9","3,0","0,05","1,0","1,5","1,0","26,6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,81,"1,0","0,2","24,9","0,9","0,3","10,6","0,4","7,8","2,4",...,"0,3","0,5","2,7","2,7","2,6","0,07","0,6","1,1","0,7","27,8"
81,82,"1,0","0,1","21,7","0,9","0,3","12,3","0,7","11,2","2,5",...,"0,5","1,3","3,0","2,1","1,9","0,04","0,7","1,1","1,3","23,6"
82,83,"0,9","0,1","25,2","0,8","0,3","9,4","0,5","10,2","2,3",...,"0,3","1,1","1,7","1,6","3,0","0,06","0,7","1,8","1,4","25,5"
83,84,"1,0","0,2","23,2","0,8","0,2","8,8","0,7","12,2","2,1",...,"0,2","0,6","0,8","2,0","2,6","0,09","0,8","1,2","1,8","27,6"
84,85,"1,3","0,2","28,3","0,7","0,2","8,0","0,4","7,4","2,2",...,"0,2","0,6","1,4","2,5","3,5","0,07","0,9","1,7","2,1","26,5"

In [6]:
#sperm_fatty_acids.dtypes

In [7]:
#sperm_fatty_acids.isna().sum()

In [8]:
participant = pd.read_csv('/Users/jianchaohuo/Desktop/Capstone Project/data/VISEM/visem-dataset/participant_related_data.csv', sep=';')
participant

    ID Abstinence time(days) Body mass index (kg/m²)  Age (years)
0    1                   4,0                    32,5           36
1    2                   4,0                    33,7           61
2    3                   2,0                    62,7           51
3    4                   2,5                    45,5           38
4    5                   3,0                    51,0           33
..  ..                   ...                     ...          ...
80  81                   4,5                    24,5           34
81  82                   0,5                    22,1           25
82  83                   2,0                    24,9           28
83  84                   3,0                    25,7           28
84  85                   3,0                    28,2           58

[85 rows x 4 columns]

In [9]:
#participant.dtypes

In [10]:
#participant.isna().sum()

In [11]:
semen_analysis = pd.read_csv('/Users/jianchaohuo/Desktop/Capstone Project/data/VISEM/visem-dataset/semen_analysis_data.csv', sep=';')
semen_analysis

,ID,Sperm concentration (x10⁶/mL),Total sperm count (x10⁶),Ejaculate volume (mL),Sperm vitality (%),Normal spermatozoa (%),Head defects (%),Midpiece and neck defects (%),Tail defects (%),Cytoplasmic droplet (%),Teratozoospermia index,Progressive motility (%),Non progressive sperm motility (%),Immotile sperm (%),"High DNA stainability, HDS (%)","DNA fragmentation index, DFI (%)"
0,1,"105,3","363,1","3,5",81,"2,0","98,0","11,2","38,0","3,4","1,54",51,19,30,13,29
1,2,"45,4","141,6","3,1",50,"3,0","97,0","8,5","24,5","2,0","1,36",22,16,62,13,57
2,3,"50,0","124,5","2,5",90,"6,9","90,6","32,8","14,3","1,5","1,51",18,26,56,11,12
3,4,"42,9","103,8","2,4",80,"2,8","96,5","24,1","23,1","5,2","1,53",33,26,41,10,15
4,5,"32,8","158,7","4,8",90,"3,2","95,0","32,5","15,7","7,0","1,56",43,22,35,21,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,81,"62,0","280,9","4,5",81,"5,5","89,1","13,4","8,0","1,5","1,19",61,27,12,8,14
81,82,"22,0","157,3","7,2",85,"0,0","99,5","30,5","14,0","15,5","1,60",17,33,50,13,8
82,83,"148,0","478,0","3,2",91,"6,2","92,4","25,2","8,6","5,2","1,42",65,20,15,8,16
83,84,"43,0","180,6","4,2",95,"9,9","85,7","28,7","7,2","0,8","1,36",35,31,34,5,15
84,85,"184,0","496,8","2,7",85,"4,3","94,0","19,5","13,0","1,6","1,34",48,27,25,4,24

In [12]:
#semen_analysis.dtypes

In [13]:
#semen_analysis.isna().sum()

In [14]:
sex_hormones = pd.read_csv'/Users/jianchaohuo/Desktop/Capstone Project/data/VISEM/visem-dataset/sex_hormones.csv', sep=';'
sex_hormones

SyntaxError: invalid syntax (2261756236.py, line 1)

In [ ]:
#sex_hormones.dtypes

In [ ]:
#sex_hormones.isna().sum()

In [ ]:
serum_FA_participant = pd.merge(serum_fatty_acids, participant, on='ID', how='inner') 
serum_FA_participant.to_csv('serum_FA_participant.csv', index=False)
print("Merged file saved as 'serum_FA_participant.csv'")

Merged file saved as 'serum_FA_participant.csv'

In [ ]:
serum_FA_hormone = pd.merge(serum_fatty_acids, sex_hormones, on='ID', how='inner')
serum_FA_hormone.to_csv('serum_FA_hormone.csv', index=False)
print("Merged file saved as 'serum_FA_hormone.csv'")

Merged file saved as 'serum_FA_hormone.csv'

In [ ]:
serum_FA_semen = pd.merge(serum_fatty_acids, semen_analysis, on='ID', how='inner') 
serum_FA_semen.to_csv('serum_FA_semen.csv', index=False)
print("Merged file saved as 'serum_FA_semen.csv'")

Merged file saved as 'serum_FA_semen.csv'

In [ ]:
df1 = pd.merge(participant, serum_fatty_acids, on='ID', how='inner')
df2 = pd.merge(df1, sex_hormones, on='ID', how='inner')
serum_FA_hormone_semen_pat = pd.merge(df2, semen_analysis, on='ID', how='inner')
serum_FA_hormone_semen_pat.to_csv('serum_FA_hormone_semen_pat.csv', index=False)
print("Merged file saved as 'serum_FA_hormone_semen_pat.csv'")

Merged file saved as 'serum_FA_hormone_semen_pat.csv'

In [ ]:
sperm_FA_participant = pd.merge(sperm_fatty_acids, participant, on='ID', how='inner') 
sperm_FA_participant.to_csv('sperm_FA_participant.csv', index=False)
print("Merged file saved as 'sperm_FA_participant.csv'")

Merged file saved as 'sperm_FA_participant.csv'

In [ ]:
#sperm_FA_hormone = pd.merge(sperm_fatty_acids, sex_hormones, on='ID', how='inner')
#sperm_FA_hormone.to_csv('sperm_FA_hormone.csv', index=False)
#print("Merged file saved as 'sperm_FA_hormone.csv'")

In [ ]:
sperm_FA_semen = pd.merge(sperm_fatty_acids, semen_analysis, on='ID', how='inner') 
sperm_FA_semen.to_csv('sperm_FA_semen.csv', index=False)
print("Merged file saved as 'sperm_FA_semen.csv'")

Merged file saved as 'sperm_FA_semen.csv'

In [ ]:
all = pd.merge(serum_FA_hormone_semen_pat, sperm_fatty_acids, on='ID', how='inner')
all.to_csv('all data.csv', index=False)
print("Merged file saved as 'all data.csv'")

Merged file saved as 'all data.csv'