In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [7]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [20]:
df = pd.read_excel('/Users/jianchaohuo/Downloads/raw data.xlsx')
df

,a,b,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,76.85,62.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,77.06,57.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,77.33,67.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,a,NaN,NaN,NaN,b,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,b,NaN,NaN,NaN,NaN,NaN
5,cp,1,1.000000,1.000000,1,1.125507,0.596630,1.023895,0.915344,NaN,...,1.000000,1.000000,1.000000,1.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000
6,cd,1.305156,1.119868,1.341479,1.48949,2.04331,1.198945,0.335673,1.192643,NaN,...,0.716087,0.697722,1.119858,1.032799,0.233668,1.070064,0.697773,0.376843,1.428239,1.441145
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CP,1,1.000000,1.000000,1,0.781584,0.205672,0.873824,0.620360,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,CD,0.621541,0.792195,0.498650,0.637462,0.849566,0.739815,0.829454,0.806278,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,CP,1,1.000000,1.000000,1,1.048983,0.611503,0.624539,0.989504,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,CD,0.517629,0.839734,0.383418,0.570483,0.525559,0.199486,0.216384,0.136924,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,CP,1,1.000000,1.000000,1,0.970264,1.311921,4.303715,2.195300,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,CD,1.486253,2.140784,3.960608,2.529215,1.350165,0.251775,6.668284,2.756742,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,CP,1,1.000000,1.000000,1,2.006547,2.053270,1.071880,4.318409,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,CD,5.278416,1.411827,0.667491,1.873762,1.860884,2.023028,0.697730,3.733081,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,a,NaN,NaN,b,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,cp,1,1.000000,1.000000,2.374154,2.179624,2.934487,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,cd,1.015456,1.893921,1.218383,1.099632,2.463492,0.712654,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,CP,1,1.000000,1.000000,2.085354,1.346386,0.073061,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,CD,0.459874,0.375847,0.291820,1.099429,1.30937,0.317496,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,CP,1,1.000000,1.000000,0.488026,1.924943,8.841475,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,CD,0.870743,1.298337,1.916534,0.866412,0.523252,1.097532,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,CP,1,1.000000,1.000000,0.428649,2.009143,0.825088,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,CD,1.225407,2.156967,1.192120,0.885811,3.117011,0.213754,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.shape

(12, 1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   The Human Fertility Database  9 non-null      object
dtypes: object(1)
memory usage: 228.0+ bytes

In [17]:
boar_sperm = pd.read_csv('/Users/jianchaohuo/Downloads/sperm.csv', sep=',')
boar_sperm

,Area,VCL,VSL,VAP,LIN,STR,WOB,ALH,BCF,Boar,Ejaculate,K,mK,effect
0,7.9,17.9,7.2,10.4,40.1,68.8,58.3,1.0,3.0,Boar 1,1001,1,1,Negative
1,30.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boar 1,1001,0,0,NaN
2,27.7,122.9,31.2,54.1,25.4,57.7,44.0,4.0,7.5,Boar 1,1001,24,5,Negative
3,12.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boar 1,1001,0,0,NaN
4,18.0,53.0,18.5,42.0,34.9,44.0,79.2,2.6,8.0,Boar 1,1001,6,1,Negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98015,37.5,73.4,15.8,33.8,21.5,46.7,46.0,3.6,10.0,Boar 17,17017,35,1,Negative
98016,35.2,76.4,17.5,38.7,22.9,45.3,50.6,3.6,10.9,Boar 17,17017,35,1,Negative
98017,30.7,75.1,25.3,33.4,33.7,75.8,44.5,3.4,14.0,Boar 17,17017,19,3,Negative
98018,31.6,50.5,26.3,30.9,52.0,85.1,61.1,3.0,9.1,Boar 17,17017,4,4,Positive
98019,32.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boar 17,17017,0,0,NaN

In [19]:
boar_sperm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98020 entries, 0 to 98019
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area       98020 non-null  float64
 1   VCL        69170 non-null  float64
 2   VSL        69170 non-null  float64
 3   VAP        69170 non-null  float64
 4   LIN        69170 non-null  float64
 5   STR        69170 non-null  float64
 6   WOB        69170 non-null  float64
 7   ALH        69170 non-null  float64
 8   BCF        69170 non-null  float64
 9   Boar       98020 non-null  object
 10  Ejaculate  98020 non-null  int64
 11  K          98020 non-null  int64
 12  mK         98020 non-null  int64
 13  effect     69170 non-null  object
dtypes: float64(9), int64(3), object(2)
memory usage: 10.5+ MB

In [21]:
fraud = pd.read_csv('/Users/jianchaohuo/Downloads/creditcard.csv', sep=',')
fraud

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [24]:
female_fluid = pd.read_csv('/Users/jianchaohuo/Downloads/Female reproductive fluids ‘rescue’ sperm from phenotypic ageing in an external fertilizer/Hadlow_et_al_2023_Female_reproductive_fluids.csv', sep=',')
female_fluid

,analysis_time,date,egg_pool,animal_id,spawn_time,motility_time,motile_count,motile_mean_alh,motile_mean_bcf,motile_mean_lin,motile_mean_str,motile_mean_vap,motile_mean_vcl,motile_mean_vsl,motile_mean_wob,motile_percent_of_total,total_count
0,1:39:20 PM,1407,1,1407101.1.S,15,197,227,8.989887,12.784093,41.472067,50.442393,107.994818,126.479754,50.865959,83.730273,76.9,295
1,1:43:31 PM,1407,1,1407101.1.E,15,202,211,8.662531,12.764945,26.849863,34.131606,97.537342,124.592648,33.042819,78.051813,74.3,284
2,1:47:02 PM,1407,1,1407102.1.E,19,205,224,4.847474,27.757847,44.905555,56.400496,100.345410,126.314425,59.003724,77.864689,70.2,319
3,1:50:07 PM,1407,1,1407102.1.S,19,208,209,8.872606,13.762715,45.098535,53.895423,119.472976,138.902363,60.238356,84.332114,68.5,305
4,1:53:25 PM,1407,1,1407103.1.S,19,211,231,9.042683,16.977317,45.579766,57.500333,115.680397,139.049873,62.160987,80.620150,86.2,268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,7:12:20 PM,3007,7,3007103.4.S,13,499,214,5.515030,35.007844,38.797010,69.374986,55.677077,99.361031,39.007993,54.925373,25.9,826
340,7:16:45 PM,3007,7,3007105.4.S,16,504,141,6.190928,27.371624,42.339913,66.264426,67.886703,102.231325,43.544145,63.757045,53.6,263
341,7:20:49 PM,3007,7,3007105.4.E,16,508,170,8.853173,22.145569,39.401305,65.683242,84.236335,149.535499,56.374529,57.838961,66.1,257
342,7:27:18 PM,3007,7,3007110.4.E,26,514,124,5.738052,30.178317,46.427433,75.328880,63.787541,102.897697,51.374427,60.307693,30.3,409
343,7:33:42 PM,3007,7,3007110.4.S,26,521,133,5.739283,30.449425,36.604900,63.046799,54.729147,89.531017,34.236427,57.926574,17.3,770

In [23]:
female_fluid.isna().sum()

analysis_time              0
date                       0
egg_pool                   0
animal_id                  0
spawn_time                 0
motility_time              0
motile_count               0
motile_mean_alh            0
motile_mean_bcf            0
motile_mean_lin            0
motile_mean_str            0
motile_mean_vap            0
motile_mean_vcl            0
motile_mean_vsl            0
motile_mean_wob            0
motile_percent_of_total    0
total_count                0
dtype: int64

In [26]:
female_fluid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   analysis_time            344 non-null    object
 1   date                     344 non-null    int64
 2   egg_pool                 344 non-null    int64
 3   animal_id                344 non-null    object
 4   spawn_time               344 non-null    int64
 5   motility_time            344 non-null    int64
 6   motile_count             344 non-null    int64
 7   motile_mean_alh          344 non-null    float64
 8   motile_mean_bcf          344 non-null    float64
 9   motile_mean_lin          344 non-null    float64
 10  motile_mean_str          344 non-null    float64
 11  motile_mean_vap          344 non-null    float64
 12  motile_mean_vcl          344 non-null    float64
 13  motile_mean_vsl          344 non-null    float64
 14  motile_mean_wob          344 non-null    float64
 15  motile_percent_of_total  344 non-null    float64
 16  total_count              344 non-null    int64
dtypes: float64(9), int64(6), object(2)
memory usage: 45.8+ KB

In [25]:
female_fluid.describe().T

,count,mean,std,min,25%,50%,75%,max
date,344.0,2232.581395,546.002925,1407.000000,1607.000000,2307.000000,2907.000000,3007.000000
egg_pool,344.0,3.883721,1.946327,1.000000,2.000000,4.000000,6.000000,7.000000
spawn_time,344.0,26.395349,15.165004,7.000000,16.000000,22.000000,33.000000,88.000000
motility_time,344.0,358.950581,91.348213,179.000000,282.500000,355.000000,434.500000,548.000000
motile_count,344.0,179.232558,41.622537,53.000000,146.500000,191.000000,212.250000,277.000000
motile_mean_alh,344.0,6.566950,1.589769,2.997497,5.452826,6.223118,7.544039,11.247320
motile_mean_bcf,344.0,25.605181,6.212363,9.116748,21.295376,26.341523,30.578646,37.525222
motile_mean_lin,344.0,45.154502,9.170297,25.405037,38.596860,43.966448,49.281644,84.772583
motile_mean_str,344.0,67.933139,9.281670,34.131606,63.299930,68.610190,73.655164,91.576359
motile_mean_vap,344.0,77.803905,19.633222,37.375834,62.089287,76.234729,93.039556,133.598701
motile_mean_vcl,344.0,114.246376,18.503186,74.995810,99.199498,116.111708,128.016991,159.913801
motile_mean_vsl,344.0,51.756981,15.167557,23.423759,41.354551,47.349016,60.105952,115.039345
motile_mean_wob,344.0,66.350266,10.249157,46.033407,57.862216,65.177384,74.041162,92.595114
motile_percent_of_total,344.0,54.591570,17.942224,8.100000,41.975000,56.550000,67.725000,92.700000
total_count,344.0,361.444767,137.234057,156.000000,275.750000,327.000000,402.250000,1085.000000

In [27]:
fertility = pd.read_csv('/Users/jianchaohuo/Downloads/fertility.csv', sep=',')
fertility

,Season,Age,Childish diseases,Accident or serious trauma,Surgical intervention,High fevers in the last year,Frequency of alcohol consumption,Smoking habit,Number of hours spent sitting per day,Diagnosis
0,spring,30,no,yes,yes,more than 3 months ago,once a week,occasional,16,Normal
1,spring,35,yes,no,yes,more than 3 months ago,once a week,daily,6,Altered
2,spring,27,yes,no,no,more than 3 months ago,hardly ever or never,never,9,Normal
3,spring,32,no,yes,yes,more than 3 months ago,hardly ever or never,never,7,Normal
4,spring,30,yes,yes,no,more than 3 months ago,once a week,never,9,Altered
...,...,...,...,...,...,...,...,...,...,...
95,winter,30,yes,no,no,more than 3 months ago,hardly ever or never,never,9,Normal
96,winter,29,yes,no,no,more than 3 months ago,once a week,occasional,9,Normal
97,winter,30,yes,yes,yes,more than 3 months ago,hardly ever or never,never,6,Normal
98,winter,30,yes,no,yes,more than 3 months ago,hardly ever or never,occasional,3,Normal
99,winter,30,no,yes,yes,more than 3 months ago,several times a week,never,3,Normal

In [28]:
fertility.shape

(100, 10)

In [29]:
fertility.columns

Index(['Season', 'Age', 'Childish diseases', 'Accident or serious trauma',
       'Surgical intervention', 'High fevers in the last year',
       'Frequency of alcohol consumption', 'Smoking habit',
       'Number of hours spent sitting per day', 'Diagnosis'],
      dtype='object')

In [37]:
a = pd.read_excel('/Users/jianchaohuo/Downloads/medicines_output_medicines_en.xlsx')
a

,Content type:,Medicine,Output automatically generated from content on www.ema.europa.eu on:,22/04/2025 - 06:00,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528,Human,Liprolog,EMEA/H/C/000143,Withdrawn,NaN,NaN,insulin lispro,insulin lispro,Diabetes Mellitus,NaN,...,NaN,NaN,07/05/1997,NaN,NaN,NaN,NaN,19/02/2001,01/08/2001,https://www.ema.europa.eu/en/medicines/human/E...
2529,Human,EchoGen,EMEA/H/C/000149,Withdrawn,NaN,NaN,dodecafluoropentane,dodecafluoropentane,Echocardiography,NaN,...,NaN,NaN,17/07/1998,NaN,NaN,NaN,NaN,22/01/2001,22/05/2001,https://www.ema.europa.eu/en/medicines/human/E...
2530,Human,Ecokinase,EMEA/H/C/000106,Withdrawn,NaN,NaN,reteplase,reteplase,Myocardial Infarction,NaN,...,NaN,NaN,29/08/1996,NaN,NaN,NaN,NaN,30/07/1999,12/12/2000,https://www.ema.europa.eu/en/medicines/human/E...
2531,Human,Primavax,EMEA/H/C/000156,Withdrawn,NaN,NaN,"diphtheria, tetanus and hepatitis B (rDNA) vac...","Diphtheria toxoid;hepatitis B, recombinant sur...",Hepatitis B;Tetanus;Immunization;Diphtheria,NaN,...,NaN,NaN,05/02/1998,NaN,NaN,NaN,NaN,27/07/2000,04/12/2000,https://www.ema.europa.eu/en/medicines/human/E...
2532,Human,Pylori-Chek,EMEA/H/C/000182,Withdrawn,NaN,NaN,13C-urea,urea (13C),Breath Tests;Helicobacter Infections,NaN,...,NaN,NaN,15/06/1998,NaN,NaN,NaN,NaN,05/07/2000,17/07/2000,https://www.ema.europa.eu/en/medicines/human/E...

In [34]:
fer = pd.read_excel('/Users/jianchaohuo/Downloads/Fertile_Man_2020.xlsx')
fer

,PI,Semen Volume (ml),Sperm Concentration (106/ml),Total Number (106),Total Motility (%),Progressive Motility (%),Non-progressive Motility (%),Immotile Spermatozoa (%),Vitality (%),Normal Forms (%)
0,Aboutorabi,3.2,27,86.4,35,20,15,65,NO RESULT,NO RESULT
1,Aboutorabi,0.8,136,108.8,47,35,12,53,NO RESULT,NO RESULT
2,Aboutorabi,2,71,142,49,42,7,51,NO RESULT,NO RESULT
3,Aboutorabi,1,35,35,50,28,22,50,NO RESULT,NO RESULT
4,Aboutorabi,2,46,92,51,28,33,49,NO RESULT,NO RESULT
...,...,...,...,...,...,...,...,...,...,...
3584,Tang,1.7,23,39.1,53,52,1,NO RESULT,82,25
3585,Tang,2.5,110,275,66,66,0,NO RESULT,95,30
3586,Tang,2,109,218,64,44,20,36,NO RESULT,11
3587,Tang,6.2,96,595.2,39,29,10,61,NO RESULT,7
3588,Tang,3,36,108,54,38,16,46,NO RESULT,11

In [35]:
fer.shape

(3589, 10)

In [40]:
fer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3589 entries, 0 to 3588
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PI                            3589 non-null   object
 1   Semen Volume (ml)             3589 non-null   object
 2   Sperm Concentration (106/ml)  3589 non-null   object
 3   Total Number (106)            3589 non-null   object
 4   Total Motility (%)            3589 non-null   object
 5   Progressive Motility (%)      3589 non-null   object
 6   Non-progressive Motility (%)  3589 non-null   object
 7   Immotile Spermatozoa (%)      3589 non-null   object
 8   Vitality (%)                  3589 non-null   object
 9   Normal Forms (%)              3589 non-null   object
dtypes: object(10)
memory usage: 280.5+ KB

In [36]:
fer.columns

Index(['PI', 'Semen Volume (ml)', 'Sperm Concentration (106/ml)',
       'Total Number (106)', 'Total Motility (%)', 'Progressive Motility (%)',
       'Non-progressive Motility (%)', 'Immotile Spermatozoa (%)',
       'Vitality (%)', 'Normal Forms (%)'],
      dtype='object')

In [39]:
fer['PI'].value_counts()

PI
Tang          1200
Auger          826
Swan           487
Zedan          240
Baker          206
Jensen         199
Aboutorabi     168
Lotti          105
Haugen          82
Evgeni          76
Name: count, dtype: int64